# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/FRONTEND/app-nextjs/node_modules
/FRONTEND/node_modules
/.pnp
/FRONTEND/app-nextjs/.pnp
.pnp.*
/FRONTEND/app-nextjs.pnp.*
.yarn/*
/FRONTEND/app-nextjs/.yarn/*
!.yarn/patches
!/FRONTEND/app-nextjs/.yarn/patches
!.yarn/plugins
!/FRONTEND/app-nextjs/.yarn/plugins
!.yarn/releases
!/FRONTEND/app-nextjs/.yarn/releases
!.yarn/versions
!/FRONTEND/app-nextjs/.yarn/versions

# testing
/coverage
/FRONTEND/app-nextjs/coverage

# next.js
/.next/
/FRONTEND/app-nextjs/.next/
/out/
/FRONTEND/app-nextjs/out/

# production
/build
FRONTEND//app-nextjs/build

# misc
.DS_Store
/app-nextjs/.DS_Store
*.pem
/app-nextjs/*.pem

# debug
npm-debug.log*
/FRONTEND/app-nextjs/npm-debug.log*
yarn-debug.log*
/FRONTEND/app-nextjs/yarn-debug.log*
yarn-error.log*
/FRONTEND//app-nextjs/yarn-error.log*
.pnpm-debug.log*
/FRONTEND/app-nextjs/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*
/FRONTEND/app-nextjs/.env*

# vercel
.vercel
/FRONTEND/app-nextjs/.vercel

# typescript
*.tsbuildinfo
/FRONTEND/app-nextjs/*.tsbuildinfo
next-env.d.ts
/app-nextjs/next-env.d.ts
