.loginForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 20px 40px;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.formGroup label {
  margin-bottom: 0.5rem;
  color: var(--Primaire, #1E3664);
}

.formGroup input {
  padding: 0.5rem;
  border: 1px solid #444;
  border-radius: 4px;
  background-color: #fff; /* Dark input background */
  color: var(--Primaire, #1E3664);
  width: 25vw;
}

.submitButton {
  padding: 0.75rem;
  border: none;
  border-radius: 8px;
  background: var(--Primaire, #1E3664);
  color: white;
  cursor: pointer;
}

.submitButton:disabled {
  background-color: #555; /* Darker gray for better contrast */
  cursor: not-allowed;
}

.submitButton:hover:not(:disabled) {
  background-color: #005bb5; /* Darker hover color for better contrast */
}

.error {
  color: #d32f2f; /* Darker red for better contrast */
  margin-bottom: 1rem;
}
