.section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #234457;
    height: 100vh;
    width: 5vw;  /* Contrôle la largeur du menu */
    max-width: 100px; /* Limite la largeur maximale pour éviter qu'il dépasse */
    padding: 20px 0;
    position: fixed;  /* Rester fixe pendant le scroll */
    top: 0;
    left: 0;  /* Bien fixé à gauche */
    z-index: 100; /* Pour être au-dessus du contenu */
}

.logo {
    margin-bottom: 20px;
}

.allIcones {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.icones {
    background-color: none;
}

.profil {
    margin-top: auto; /* Place le profil en bas du menu */
}
