.container {
    display: inline-block;
    position: absolute !important;
    left: 20px;
    bottom: 20px;
  }
  
  .profileButton {
    width: 50px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 50px;
  }
  
  .profileImage {
    width: 100%;
    height: 100%;
    border-radius: 50px;
  }
  
  .popUp {
    position: absolute;
    top: 20px;
    right: -380px;
    width: 397px;
    height: 330px;
    flex-shrink: 0;
    border-radius: 17px;
    background: #F7FAFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    z-index: 1000;
    transform: translateY(-100%);
  }

  .photoProfil{
    width: 86px;
    height: 82px;
    flex-shrink: 0;
    border-radius: 86px;
  }
  
  .infosProfil{
    width: 100%;
    height: 97px;
    display: flex;
    align-items: center;
    margin: 15px;
  }