body{
    background-color: white;
    color: black;
}

.discussionContainer{
    display: flex;
    flex-direction: row;
}

.listMessages{
    width: 25%;
}

.chat{
    width: 75%;
}

#discussionMembers{
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    border: 2px solid #BDBDBD;
    background-color: white;
    color: black;
}

#resultList{

}
